body {
  background: antiquewhite;
  margin: 0;
  font: 50px Roboto;
  text-align: center;
  font-weight: 900;
  overflow: hidden;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  display: none;
}
